*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    background-color:#71b7e6;
    height:100px;
    display:flex;
}
 .header img{
    width:70px;
    margin-top:10px;
    margin-left:10px;
 }
 .header a{
    text-decoration: none;
    color:black;
 }
 
 .active a{
    background:linear-gradient(135deg,#71b7e6,#9b59b6);
 }
 .header a{
   text-decoration: none;
   color:black;
}
 .header-right button{
   float: right;
}
.container-fluid a{
   text-decoration:none;
   color:black;
   font-size:15px;
}
button{
   background:linear-gradient(135deg,#71b7e6,#9b59b6);
   
}
 body{
    background:linear-gradient(135deg,#71b7e6,#9b59b6);
    height:100vh;
    justify-content: center;
    align-items: center;
    background-color:white;
}
footer{
   background-color:black;
   color:white;
   position:fixed;
   width:100%;
   margin-top:155px;
   bottom:0;
   padding-top:10px;
}
@media only screen and (max-width: 200px) 
{
  .header{
    width:100%;
  }
  .header img{
   width:70px;
  }
}