*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    
    height:100px;
    display:flex;
}
 .header img{
    width:70px;
    margin-top:10px;
    margin-left:10px;
 }
 .h
 .header a{
    text-decoration: none;
    color:black;
 }
 .header-right button{
    float: right;
 }
 .container-fluid a{
    text-decoration:none;
    color:black;
    font-size:15px;
 }
 button{
    background:linear-gradient(135deg,#71b7e6,#9b59b6);
    
}
 
 .active a{
    background:linear-gradient(135deg,#71b7e6,#9b59b6);
 }

body{
    
    height:100vh;
    justify-content: center;
    align-items: center;
    background:linear-gradient(135deg,#71b7e6,#9b59b6);
}
.hero{
    
    max-width: 2700px;
    width:100%;
    background-color: #fff;
    padding:25px 30px;
    border-radius:5px;
}
.hero .title{
    font-size:25px;
    font-weight: 500;
    position:relative;
    
}
.hero .title::before{
    
    content:'';
    position:absolute;
    left:0;
    bottom:0;
    height:3px;
    width:140px;
    background:linear-gradient(135deg,#71b7e6,#9b59b6);
}
form .user-details{
    display:flex;
    flex-wrap:wrap;
    
}
form .user-details .input-box{
    margin:20px 20px 12px 0;
    margin-bottom:15px;
    width:calc(100%/2 - 20px);
    
}
.user-details .input-box .details{
    display:block;
    font-weight:500;
    margin-bottom:5px;
    margin-left:10px;
}
.user-details .input-box input{
    height:45px;
    width:100%;
    margin-left:10px;
    outline: none;
    border-radius:5px;
    border:1px solid #ccc;
    padding-left:15px;
    font-size:16px;
    border-bottom-width: 2px;
    transition:all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
 border-color:#9b59b6;
}
.picklist{
    width:100%;
   
}
.picklist,select{
    padding:10px;
    border-radius:5px;
    width:70%;
    margin-top:5px;
    border-color:#9b59b6;
}
.sbmt{
    width:100%;
    margin-top:20px;
}
.sbmt input{
    padding:10px 65px;
    border-radius:5px;
    background:linear-gradient(135deg,#71b7e6,#9b59b6);
    text-transform: uppercase;
}
footer{
    background-color:black;
    color:white;
    position:fixed;
    width:100%;
    margin-top:155px;
    bottom:0;
    padding-top:10px;
}
@media only screen and (max-width: 200px) 
{
  .header{
    width:100%;
  }
  .header img{
   width:70px;
  }
}